{
  "plugins": ["@typescript-eslint", "react"],
  "extends": ["next", "prettier", "next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
