.revenue-container > div:last-child {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.revenue-container > div:first-child {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
